/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

html {
    /* height: 800px; */
    background-image: url('bkimage4.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
}

main {
  display: flex;
  justify-content: center;
}

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /* 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: white;
  }

  a:active{
    color: white;
  }
  
a#start-button:hover {
  background-color: white;
}

/* =========================================== HEADER CONTENT  */

  header {
    width: 100%;
    /* height: 50px; */
    /* margin-bottom: 40px;
    padding: 5px; */
    border: none;
    list-style: none;
    /* clear: both; */
    display: flex;
    justify-content: center;
  }

  #titleDiv {
    /* padding: 10px 0px, 10px, 0px;
    margin: 0px, 20px, 0px, 20px; */
    /* background-color: rgb(4, 0, 44);
    border: 2px ridge rgb(184,69, 178); 
    border-radius: 10px; */
    /* position: relative; */

    /* height: 50px;
    width: 308px;
    float: left;
    display: flex;
    justify-content: center; */
  }

  #pageSelector {
    /* padding: 0px 0px 40px 0px; */
    /* background-color: rgb(135, 193, 227); */
    /* border: 2px ridge rgb(184,69, 178); */
    /* border-radius: 10px; */
    /* position: relative; */
    /* float: left;
    display: flex;
    justify-content: center; */


    /* height: 20px;
    width: 80px; */
  }

  header div {
    width: 508px;
    margin: 20px 0px 30px 0px;
    flex: left;
    display: flex;
    justify-content: space-between;
  }

  #titleLinks {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: space-between;
  }


/* ============================================ BEGINNING OF MAIN CONTENT */

  #buttons {
    width: 188;
    margin: 5px; 
    display: flex;
    justify-content: space-between;
  }

  #start-button {
    padding: 0px;
    margin: 0px;
    background-color: rgba(135, 193, 227, .9);
    border: 3px ridge rgb(135, 193, 227);
    height: 40px;
    width: 50px;
  }

  #restart-btn {
    padding: 0px;
    margin: 0px;
    background-color: rgba(135, 193, 227, .9);
    border: 3px ridge rgb(135, 193, 227);
    height: 40px;
    width: 50px;
  }
  /* #musicBox {
    height: 55px;
    width: 55px;
  } */

  #musicBtn {
    padding: 0px;
    margin: 0px;
    background-color: rgba(135, 193, 227, .9);
    border: 3px ridge rgb(135, 193, 227);
    height: 40px;
    width: 50px;
  }
/* 
  #bigTitleBox {
    background-color: rgb(4, 0, 44);
    width: 184px;
    height: 80px;
    border: 2px ridge rgb(184,69, 178);
    padding-top: 20px;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
  }*/

  .fallingBlockGrid{
    background-color: rgba(4, 0, 44, .98);/*#0F3442;*/
    width: 308px;
    height: 608px;
    border: 3px ridge rgb(135, 193, 227);
    /* background-color: yellow; */
    display: flex; /*these two wrap the divs so they fit into their parent */
    flex-wrap: wrap;
    /* margin: 0px 0px, 50px, 0px; */
  }

  .fallingBlockGrid > div {
    /* border: 5px ridge rgb(155,190, 220);
    border-radius: 5px; */
    height: 30px;
    width: 30px;
    /* border: .5px solid #144457; */
  }

  .tetros {
    /* background-color: red; */
    border: 1px ridge rgb(184,69, 178);; 
    /* border-style: inset;
    /* -moz-box-shadow: 2px 2px 8px 2px rgba(165,165,165,1); */
    border-radius: 5px;
  }

  .taken {
    border: 0px;
    /* background-color: red; */
  }

  /* #nextHeader {
    background-color: rgb(4, 0, 44);
    width: 184px;
    height: 44px;
    border: 2px ridge rgb(184,69, 178);
    border-style: groove;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
  } */
  
  #nextBox {
    padding: 0px;
  }

  .next-block {           /*aka mini-grid */
    width: 184px;
    height: 184px;
    flex-wrap: wrap;
    display: flex;
    border: 2px ridge rgb(184,69, 178);
    background-color: rgb(4, 0, 44);
  }

  .next-block div {
    height: 30px;
    width: 30px;
    /* border: 2px ridge rgb(184,69, 178); */
  }

  #titleBoxes {
    background-color: rgba(4, 0, 44, .8);
    width: 184px;
    height: 44px;
    border: 4px ridge rgb(184,69, 178);
    /* text-align: center; */
    float: left;
    display: flex;
    justify-content: left;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 7px;
    /* padding: 0px 0px 70px 0px; */
  }

  
  #lowerBoxes {
    background-color: rgba(4, 0, 44, .7);
    width: 184px;
    height: 84px;
    border: 4px ridge rgb(184,69, 178);
    float: left;
    display: flex;
    justify-content: center;
  }

  /* #compBox {
    display: flex;
    align-items: flex-end;
  } */

  section {
    margin: 20px;
  }

  /* footer {
    padding: 30px;
  } */

  footer div {
    font-size: 11px;
    display: flex;
    justify-content: center;
    color: rgb(114, 71, 108);
  }

  a:link {
    color: white;
    text-shadow: white 1px 0 5px;
  }

  a, a:link, a:visited {
    color: rgb(114, 39, 82);
  }

  a:hover {
    color: white;
    text-shadow: white 1px 0 5px;
  }

  a:active {
    color: white;
  }

  a.musicBox:hover {
    border: 3px ridge rgb(135, 193, 227);
    transition: 0.7s;
  }

  #webLinks {
    background-color:  rgb(43, 38, 101);
    margin: 60px 20px 10px 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    border: 2px ridge rgb(43, 38, 101);
  }