/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

html {
    /* height: 800px; */
    background-image: url('bkimage4.jpg');
    background-size: cover;
    background-position: center center;

}

main {
    align-content: start;
    display: flex;
    /* height: 600px; */
    font-size: 24px;
    display: flex;
    justify-content: center;
}

section {
    padding: 50px;
}

  body {
    /* background-image: 'bkimage.png' */
    /* background-color: #164B60; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  header {
    /* background-color: #164B60; */
    /* float: left; */
    /* width: 100px; */
    height: 77px;
    margin-top: 100px;
    /* padding: 10px; */
    border: none;
    list-style: none;
    clear: both;
    display: flex;
    justify-content: center;
  }

  /* header > div {
    background-color: rgb(4, 0, 44);
    border: 1px solid #A2FF86; 
    text-align: center; 
    position: relative;
    height: 150px;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 10%;
  }  */

  #titleDiv {
    /* padding: 10px 0px 10px 0px; */
    margin: 0px 0px 0px 0px;
    /* background-color: rgb(4, 0, 44);
    border: 2px ridge rgb(184,69, 178); */
    border-radius: 10px;
    /* position: relative; */
    height: 77px;
    width: 340px;
    float: left;
    display: flex;
    justify-content: center;
  }

  #logoDiv {
    /* width: 555px;
    height: 35px; */
    background-color: white;
    display: flex;
  }

  #logoDiv div {
    width: 5px;
    height: 5px;
  }

  #logoT {
    background-color: red;
  }

  #logoE {
    background-color: blue;
  }

  h1 {
    color: white;
    height: 100px;
    padding: 0px 0px 0px 0px;
  }

  h4 {
    height: 100px;
  }
  
  #help {
    padding: 10px 0px, 10px, 0px;
    margin: 0px, 20px, 0px, 20px;
    /* background-color: rgb(4, 0, 44);
    border: 2px ridge rgb(184,69, 178);
    border-radius: 10px; */
    /* position: relative; */
    height: 50px;
    width: 150px;
    float: left;
    display: flex;
    justify-content: center;
  }

  #playerSelector {
    height: 300px;
    padding-top: 100px;
    padding-bottom: 100px
  }

  h3 {
    color: white;
  }

/* ============================ LINKS ======================= */




  /* main section div {
    background-color: #4FC0D0;
  } */

  footer {
    padding-top: 50px;
    margin: 0px;
    border: 0px;
  }

  footer div {
    font-size: 11px;
    display: flex;
    justify-content: center;
    color: rgb(114, 71, 108);
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  #copyrights {
    margin-bottom: 20px;
  }

  a:link {
    color: white;
    text-shadow: white 1px 0 5px;
    text-decoration: none;
  }

  a, a:link, a:visited {
    color: rgb(114, 39, 82);
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-shadow: white 1px 0 5px;
    text-decoration: none;
  }

  a:active {
    color: white;
    text-decoration: none;
  }

  .webLinks {
    background-color:  rgb(43, 38, 101);
    margin: 20px 20px 10px 20px;
    width: 70px;
    display: flex;
    justify-content: center;
    border: 2px ridge rgb(43, 38, 101);
  }

  