/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

html {
    /* height: 800px; */
    background-image: url('bkimage4.jpg');
    background-size: cover;
    background-position: center center;

}

main {
    align-content: start;
    display: flex;
    height: 600px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

section {
    padding: 50px;
}

  body {
    /* background-image: 'bkimage.png' */
    /* background-color: #164B60; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  header {
    /* background-color: #164B60; */
    /* float: left; */
    /* width: 100px; */
    height: 150px;
    margin-bottom: 10%;
    padding: 0%;
    border: none;
    list-style: none;
    clear: both;
    display: flex;
    justify-content: center;
  }

  /* header > div {
    background-color: rgb(4, 0, 44);
    border: 1px solid #A2FF86; 
    text-align: center; 
    position: relative;
    height: 150px;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 10%;
  }  */

  #titleDiv {
    padding: 10px 0px, 10px, 0px;
    margin: 0px, 20px, 0px, 20px;
    background-color: rgb(4, 0, 44);
    border: 2px ridge rgb(184,69, 178);
    border-radius: 10px;
    /* position: relative; */
    height: 50px;
    width: 150px;
    float: left;
    display: flex;
    justify-content: center;
  }

  h1 {
    color: white;
  }
  
  #help {
    padding: 10px 0px, 10px, 0px;
    margin: 0px, 20px, 0px, 20px;
    /* background-color: rgb(4, 0, 44);
    border: 2px ridge rgb(184,69, 178);
    border-radius: 10px; */
    /* position: relative; */
    height: 50px;
    width: 150px;
    float: left;
    display: flex;
    justify-content: center;
  }


  h3 {
    color: white;
  }

/* ============================ LINKS ======================= */




  /* main section div {
    background-color: #4FC0D0;
  } */


  footer div {
    font-size: 11px;
    display: flex;
    justify-content: center;
    color: rgb(114, 71, 108);
  }

  a:link {
    color: white;
    text-shadow: white 1px 0 5px;
  }

  a, a:link, a:visited {
    color: rgb(114, 39, 82);
  }

  a:hover {
    color: white;
    text-shadow: white 1px 0 5px;
  }

  a:active{
    color: white;
  }
