/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/

html {
    /* height: 800px; */
}

main {
  align-content: start;
  display: flex;
}

  body {
    background-color: #164B60;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  header {
    background-color: #164B60;
    /* float: left; */
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
    padding: 0%;
    border: none;
    list-style: none;
    clear: both;
    display: flex;
    justify-content: center;
  }

  header > div {
    background-color: #4FC0D0;
    border: 1px solid #A2FF86;
    /* text-align: center; */
    position: relative;
    height: 50px;
    width: 200px;
    /* margin: 10%; */
  } 

  /* main section div {
    background-color: #4FC0D0;
  } */

  #bigTitleBox {
    background-color: #4FC0D0;
    width: 302px;
    height: 80px;
    border: 1px solid #A2FF86;
    padding-top: 20px;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
  }

  .fallingBlockGrid{
    /* background-color: #4FC0D0; */
    width: 302px;
    height: 602px;
    border: 1px solid #A2FF86;
    background-color: yellow;
    display: flex; /*these two wrap the divs so they fit into their parent */
    flex-wrap: wrap;
    /* padding-top: 20px;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center; */
  }

  .fallingBlockGrid > div {
    height: 30px;
    width: 30px;
    background-color: red;

  }


  #titleBoxes {
    background-color: #4FC0D0;
    width: 160px;
    height: 40px;
    border: 1px solid #A2FF86;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
  }

  /* #titleBoxes h3 {
    vertical-align: middle;
  } */

  #lowerBoxes {
    width: 160px;
    height: 80px;
    border: 1px solid #A2FF86;
    float: left;
    display: flex;
    justify-content: center;
  }

  #extraBox {
    width: 160px;
    height: 200px;
    border: 1px solid #A2FF86;
    float: left;
    display: flex;
    justify-content: center;
  }

  section {
    padding: 40px;
  }